body {
    background-color: lightgrey;
    background-image: url("../images/01-02-02_background-img.jpg");
}

h2 {
    color: orange;
}

p {
    font-weight: bold;
}

.centered-text {
    text-align: center;
    font-weight: bold;
}